{% extends 'base.html.twig' %}

{% block title %}{{test['name']}}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <h1>{{test['name']|upper}}</h1>
    {% for q in test['q'] %}
        <div id="question_wording">{{q['w']}}</div>
        <div id="answers">
        	{% for a in q['a'] %}
        		<div>{{a}}</div>
        	{% endfor %}
        </div>>
    {% endfor %}
    
    {% for f in forms %}
    	{{form(f)}}
    {% endfor %}

    <div>------------------------------------------</div>

    {% for f in empty_forms %}
        {{form_start(f)}}
            {{form_label(f.wording)}}
            {% for a in f.answers %}
                {{form_row(a.wording)}}
            {% endfor %}
        {{form_end(f)}}
        <div>------------------------------------------</div>
    {% endfor %}

{% endblock %}